@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap");

.canvas {
  width: 100vw;
  height: 100vh;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.card {
  position: fixed;
  /* right: 24px; */
  /* top:1%; */
  /* bottom: 25vh; */
  width: auto;
  padding: 10px 6px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  /* gap: 16px; */
  background-color: #12121250;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  border: solid 1px #90909090;
}


.card__section__title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
}

.card__section__values  {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* padding: 16px 0; */
}

.card__section__values.two {
  flex-wrap: wrap;
  /* padding: 16px 0; */
}

.handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: solid 2px #999999;
  transition: all 0.4s;
  opacity: 0.3;
}

.handle:hover {
  cursor: pointer;
  opacity: 1;
  border: solid 2px white;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
  opacity: 0.7;
}

.item:hover {
  cursor: pointer;
  opacity: 1;
}

.item__dot {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: solid 2px #999999;
}
.item__dot:hover { 
   border: solid 3px white;

}

.item.item--active .item__dot {
  border: solid 2px white;
}

.item__label {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #aaa;
  text-transform: capitalize;
}
.item.item--active .item__label {
  color: white;
}

.spinner {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
  cursor: default;
  color: white;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.spinner:hover {
  outline: none;  
  
}

